/* this helps keeps design stable */
*:not(img) {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2) !important;
  outline: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 15px !important;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
}

::selection {
  color: #fff;
  background: #1890ff;
}

a {
  text-decoration: none !important;
}
.download-app {
  max-height: 30px;
  max-width: 90px;
  background-color: var(--color-100);
  padding: 2px;
  box-shadow: 0px 0px 8px black;
  margin-left: 75%;
  margin-top: 2%;
  color: #0d6efd;
  font-weight: 600;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 16px;
  border: hidden;
}

html {
  --color-900: #1a237e;
  --color-800: #283593;
  --color-700: #303f9f;
  --color-600: #3949ab;
  --color-500: #3f51b5;
  --color-200: #9fa8da;
  --color-100: #c5cae9;
  --color-50: #e8eaf6;
  --gray-300: #e0e0e0;
  --gray-50: #fafafa;
}
body * a {
  text-decoration: none;
  color: #000;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  background-color: #efeeea;
}

body {
  display: flex;
  flex-direction: column;
}

.logo {
  border-radius: 50%;
  border: 5px #25c1ff solid;
  transition: transform 04s linear 0s;
  animation: roll 3s ease infinite;
  margin: 40px auto;
  padding: 10px;
  cursor: help;
}
.cradova {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #5191d5, #27c8ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0px auto;
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.hide {
  display: none;
}

.show-drawer {
  animation: pop1 0.3s forwards;
}

@keyframes pop1 {
  0% {
    left: -200px;
    opacity: 0.9;
  }
  50% {
    transform: scaleZ(1);
    left: -19px;
  }
  80% {
    opacity: 1;
    left: 0px;
  }
  100% {
    left: 0px;
    transform: scaleZ(1);
  }
}

.paragraph {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.section {
  padding: 0px 5px 150px 5px;
}

.domimg {
  width: 100px;
  margin: auto calc(50% - 50px);
}

.hidden {
  margin: 5rem auto;
  font-size: 30px;
  font-weight: 900;
  filter: blur(1px);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition: filter 1.4s ease;
  border-radius: 2rem;
}
.show {
  filter: blur(0px);
}
@keyframes enter {
  20% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.right {
  animation: enterRight 1s ease forwards;
}
.left {
  animation: enterLeft 1s ease forwards;
}
@keyframes enterRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes enterLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
